<div class="container">
  <mat-card class="mt-2">
    <div class="text-center mt-5">
      <img
        src="https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png"
        alt="user"
        style="height: 70px; width: 120px"
      />
      <h1 class="mt-1">{{ user.username }}</h1>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <table class="table table-striped text-center">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{user.fullName}}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>{{user.role}}</td>
                    </tr>
                    <tr>
                        <th>E-Mail</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </mat-card>
</div>
