<div class="bg">
  <div class="display">
    <div class="card-display">
      <mat-card
        class="h"
        *ngFor="let c of movie"
        (click)="openDialog(c.movieName)"
      >
        <img
          style="height: 300px"
          mat-card-image
          [src]="c.imgUrl"
          [alt]="c.movieName"
        />
      </mat-card>

      <mat-card *ngIf="roleStatus" class="h add" >
        <button style="margin-top: 120px;" mat-icon-button (click)="addMovie()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>
